.slide {
	background-image: url('https://static.pexels.com/photos/6587/woman-desk-office-working.jpg');
	color: #E9F2FA;
	background-size: cover;
	background-position: top center;
}

.slide2{
	background-color: rgba(255,255,255,0.85);
	height: 100vh;
	padding-top: 44vh;
}

.slide {
	height: 100vh;
	text-align: center;
}

.slide h1, .slide h4 {
	line-height: 1.2;
	margin: 0 auto;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 2.1em;
	max-width: 620px;
}

.slide h1 {
 font-size: 3em;
line-height: 1;
}


@media only screen and (max-width: 500px) {

	.slide2 {
		padding-top: 34vh;
	}

}

/*MENU*/

.nav-toggle {
  display: block;
  padding: 10px 10px 15px 10px;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
}
.hamburger {
  width: 1.08em;
  position: relative;
  display: inline-block;
  height: 0.6em;
  font-size: 1.2em;
  background: #fff;
}
.hamburger span {
  width: 100%;
  background: #000;
  display: block;
  position: absolute;
  left: 0px;
  height: 0.185em;
  border-radius: 1.2px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 0.36em;
}
.hamburger span:nth-child(3) {
  top: 0.72em;
}
.sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background: #000;
  top: 0px;
  left: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
}
#navicon {
  display: none;
}
#navicon:checked ~ .sidebar {
  visibility: visible;
  opacity: 1;
}
#navicon:checked ~ .nav-toggle > .hamburger span {
  top: 0.36em;
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
